
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0; 
}
form{
    padding:20px;
    width:600px;
    border: 2px solid orange;
   margin-left: 150px;
}
/* div{
    margin-left: 7px;
    margin-right: 7px;
} */
.form-row{
    margin: 15px;
}